<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>

<div>Navbar here</div>
<!-- this is where handlebars will put all the code that express tells it to render-->
{{{ body }}}

<script src="/js/app.js"></script>
</body>
