<form>
  <label for="#emailInput">Email Address</label>
  <input id="emailInput" placeholder="example@example.com">

  <label for="#passwordInput">Email Address</label>
  <input id="passwordInput" type="password">
  <button id="signUpBtn">Sign Up</button>
</form>